<div class="container">
  <form [formGroup]="formGroup" (ngSubmit)="cadastrar()" class="form-group">

    <label>CPF</label>
    <input type="text" formControlName="cpf" class="form-control" />
    <small class="form-text text-muted" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors">Valor Inválido</small>

    <label>Nome:</label>
    <input type="text" formControlName="nome" class="form-control" />
    <small class="form-text text-muted" *ngIf="formGroup.controls.nome.dirty && formGroup.controls.nome.errors">Valor Inválido</small>

    <label>Endereço:</label>
    <input type="text" formControlName="endereco" class="form-control" />
    <small class="form-text text-muted" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors">Valor Inválido</small>

    <label>Município:</label>
    <input type="text" formControlName="municipio" class="form-control" />
    <small class="form-text text-muted" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors">Valor Inválido</small>

    <label>Estado:</label>
    <input type="text" formControlName="estado" class="form-control" />
    <small class="form-text text-muted" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors">Valor Inválido</small>

    <label>Telefone:</label>
    <input type="text" formControlName="telefone" class="form-control" />
    <small class="form-text text-muted" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors">Valor Inválido</small>

  <label>Email:</label>
  <input type="text" formControlName="email" class="form-control" />
  <small class="form-text text-muted" *ngIf="formGroup.controls.cpf.dirty && formGroup.controls.cpf.errors">Valor Inválido</small>
  
  <label>Senha:</label>
  <input type="password" formControlName="senha" class="form-control" />
  <small class="form-text text-muted" *ngIf="formGroup.controls.senha.dirty && formGroup.controls.senha.errors">Valor Inválido</small>

  </form>
</div>