/*font-family: 'Lora', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Muli', sans-serif;*/

.nav-item{
    border: solid white 0.1rem;
    margin: 0.1rem;
    background-color: hotpink;
}
.nav-link{
    color: black;
}