<div class="">
<button class="btn btn-primary">Carrinho {{carrinho.length}}</button>
</div>

<div class="container">
    <h3>Lista de Produtos</h3>
    <!--<ul>
        <li *ngFor="let produto of lista" (click)="selected(produto)" [class.selected]="produto === selectedCompra">
            {{produto.nome}} {{produto.preco | currency:'BRL':true}} <img src="../assets/produtos/{{produto.imagem}}">
        </li>
    </ul>-->
    <div class="centered">
        <div class="row ">
            <div class="card col-md-3" style="width: 18rem;" *ngFor="let produto of lista">
                <img class="card-img-top" src="../assets/produtos/{{produto.imagem}}" alt="" width="100%">
                <div class="card-body">
                    <h5 class="card-title">{{produto.nome}}</h5>
                    <p class="card-text">{{produto.preco| currency:'BRL':true}}</p>
                    <button class="btn btn-primary" (click)="addCarrinho(produto)">Add Carrinho</button>
                </div>
            </div>
        </div>
        <!--<label>Produto e preço:
    <input #newProduto 
        (keyup.enter)="addProduto(newproduto.value)"
        (blur)="addProduto(newProduto.value); newProduto.value='' " placeholder="name">
  </label>
  <button (click)="addProduto(produto)">OK</button>-->
  <div>
      
  </div>

<div *ngFor="let selectedProduto of carrinho">
    <h4>Sua Compra: </h4><br><br>
    <h5>Total: {{total | currency:'BRL':true}}</h5>
    <span>Nome do Produto: {{selectedProduto.nome}}</span> 
    <br><br>
    <span>Foto do Produto: <img src="../assets/produtos/{{selectedProduto.imagem}}"> </span> 
    <br><br>
    <span>Preço: {{selectedProduto.preco | currency:'BRL':true}}</span> 
    <br><br>
</div>



    <!--<label>Produto e preço:
    <input #newProduto 
        (keyup.enter)="addProduto(newproduto.value)"
        (blur)="addProduto(newProduto.value); newProduto.value='' " placeholder="name">
  </label>
  <button (click)="addProduto(produto)">OK</button>-->
</div>