
<div class="container">
    <h3>Lista de Produtos</h3>
    <!--<ul>
        <li *ngFor="let produto of lista" (click)="selected(produto)" [class.selected]="produto === selectedCompra">
            {{produto.nome}} {{produto.preco | currency:'BRL':true}} <img src="../assets/produtos/{{produto.imagem}}">
        </li>
    </ul>-->
    <div class="centered">
        <div class="row justify-content-center">
            <div class="card col-md-3" style="width: 18rem;" *ngFor="let produto of produtos">
                <img class="card-img-top" src="../assets/produtos/{{produto.imagem}}" alt="" width="100%">
                <div class="card-body">
                    <h5 class="card-title">{{produto.nome}}</h5>
                    <p class="card-text">{{produto.preco| currency:'BRL':true}}</p>
                    <button class="btn btn-primary" (click)="addCarrinho(produto)">Add Carrinho</button>
                </div>
            </div>
        </div>
        <!--<label>Produto e preço:
    <input #newProduto 
        (keyup.enter)="addProduto(newproduto.value)"
        (blur)="addProduto(newProduto.value); newProduto.value='' " placeholder="name">
  </label>
  <button (click)="addProduto(produto)">OK</button>-->
  <div>
      
  </div>




    <!--<label>Produto e preço:
    <input #newProduto 
        (keyup.enter)="addProduto(newproduto.value)"
        (blur)="addProduto(newProduto.value); newProduto.value='' " placeholder="name">
  </label>
  <button (click)="addProduto(produto)">OK</button>-->
</div>