.card{
    margin: 1em;
    padding: 0;
}
.card-header{
    background-color: black;
    color: papayawhip;
    border: 0;
}
.card-body{
    background-color: cadetblue ;
}
.card-footer{
    background-color: lavenderblush;
    width: 100%
}