<div class="container">
  <h3>Cadastro de Livros</h3>
  <form [formGroup]="formGroup" (ngSubmit)="cadastrar()" class="form-group">

    <label>Título</label>
    <input type="text" formControlName="titulo" class="form-control" />
    <span *ngIf="formGroup.controls.titulo.dirty && formGroup.controls.titulo.erros">Valor Inválido</span>

    <label>Gênero</label>
    <input type="text" formControlName="genero" class="form-control" />
    <span *ngIf="formGroup.controls.genero.dirty && formGroup.controls.genero.erros">Valor Inválido</span>

    <label>Autor</label>
    <input type="text" formControlName="autor" class="form-control" />
    <span *ngIf="formGroup.controls.autor.dirty && formGroup.controls.autor.erros">Valor Inválido</span>

    <button type="submit" [disabled]="formGroup.invalid" class="btn btn-light">Cadastrar</button>
  </form>
</div>