div{
    margin-top: 1em;
}
.heroes{
    list-style: none;
    padding: 0px;
    padding-left: 10px;
}
.heroes li{
    background-color: #eee;
    padding: 2em;
    margin: 1.5em;
    font-style: italic;
    cursor: pointer;
}
.badge{
    color: black;
    font-size: 1.2em;
}
.selected{
    background-color: indianred !important;
}